<!DOCTYPE html>

<html lang="es" class="" style="overflow: visible; height: initial">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Handly App</title>
    <!--SEO Meta Tags-->
    <meta name="google-site-verification" content="OMyLFdaKybrMSku1wGYKUKHbwr43FVnNrmQ7PMVU1LU"/>
    <meta name="googlebot" content="noarchive">
    <meta name="description" content="Handly es una aplicación móvil donde puedes ofrecer o buscar asistencia en cualquier momento y lugar">
    <meta name="description" content="freenlance, parados, estudiantes, sin trabajo, paro">
    <meta name="keywords" content="app, android, ios, sin, trabajo, empleo, minitrabajo, tarea, servicios, vecinos, rápido, social, red, gps, localizacion, reseñas, reviews, feedback, limpieza, lavanderia, deportistas, domestico, manitas, herramientas, guardian, mascotas, transporte, envios, digital, fotocopias, edicion, video">
    <meta name="author" content="handly"> 

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      svg:not(:root).svg-inline--fa {
        overflow: visible;
      }

      .svg-inline--fa {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
      }

      .svg-inline--fa.fa-lg {
        vertical-align: -0.225em;
      }

      .svg-inline--fa.fa-w-1 {
        width: 0.0625em;
      }

      .svg-inline--fa.fa-w-2 {
        width: 0.125em;
      }

      .svg-inline--fa.fa-w-3 {
        width: 0.1875em;
      }

      .svg-inline--fa.fa-w-4 {
        width: 0.25em;
      }

      .svg-inline--fa.fa-w-5 {
        width: 0.3125em;
      }

      .svg-inline--fa.fa-w-6 {
        width: 0.375em;
      }

      .svg-inline--fa.fa-w-7 {
        width: 0.4375em;
      }

      .svg-inline--fa.fa-w-8 {
        width: 0.5em;
      }

      .svg-inline--fa.fa-w-9 {
        width: 0.5625em;
      }

      .svg-inline--fa.fa-w-10 {
        width: 0.625em;
      }

      .svg-inline--fa.fa-w-11 {
        width: 0.6875em;
      }

      .svg-inline--fa.fa-w-12 {
        width: 0.75em;
      }

      .svg-inline--fa.fa-w-13 {
        width: 0.8125em;
      }

      .svg-inline--fa.fa-w-14 {
        width: 0.875em;
      }

      .svg-inline--fa.fa-w-15 {
        width: 0.9375em;
      }

      .svg-inline--fa.fa-w-16 {
        width: 1em;
      }

      .svg-inline--fa.fa-w-17 {
        width: 1.0625em;
      }

      .svg-inline--fa.fa-w-18 {
        width: 1.125em;
      }

      .svg-inline--fa.fa-w-19 {
        width: 1.1875em;
      }

      .svg-inline--fa.fa-w-20 {
        width: 1.25em;
      }

      .svg-inline--fa.fa-pull-left {
        margin-right: 0.3em;
        width: auto;
      }

      .svg-inline--fa.fa-pull-right {
        margin-left: 0.3em;
        width: auto;
      }

      .svg-inline--fa.fa-border {
        height: 1.5em;
      }

      .svg-inline--fa.fa-li {
        width: 2em;
      }

      .svg-inline--fa.fa-fw {
        width: 1.25em;
      }

      .fa-layers svg.svg-inline--fa {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }

      .fa-layers {
        display: inline-block;
        height: 1em;
        position: relative;
        text-align: center;
        vertical-align: -0.125em;
        width: 1em;
      }

      .fa-layers svg.svg-inline--fa {
        -webkit-transform-origin: center center;
        transform-origin: center center;
      }

      .fa-layers-counter,
      .fa-layers-text {
        display: inline-block;
        position: absolute;
        text-align: center;
      }

      .fa-layers-text {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform-origin: center center;
        transform-origin: center center;
      }

      .fa-layers-counter {
        background-color: #ff253a;
        border-radius: 1em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        height: 1.5em;
        line-height: 1;
        max-width: 5em;
        min-width: 1.5em;
        overflow: hidden;
        padding: 0.25em;
        right: 0;
        text-overflow: ellipsis;
        top: 0;
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
        -webkit-transform-origin: top right;
        transform-origin: top right;
      }

      .fa-layers-bottom-right {
        bottom: 0;
        right: 0;
        top: auto;
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
      }

      .fa-layers-bottom-left {
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
      }

      .fa-layers-top-right {
        right: 0;
        top: 0;
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
        -webkit-transform-origin: top right;
        transform-origin: top right;
      }

      .fa-layers-top-left {
        left: 0;
        right: auto;
        top: 0;
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
        -webkit-transform-origin: top left;
        transform-origin: top left;
      }

      .fa-lg {
        font-size: 1.3333333333em;
        line-height: 0.75em;
        vertical-align: -0.0667em;
      }

      .fa-xs {
        font-size: 0.75em;
      }

      .fa-sm {
        font-size: 0.875em;
      }

      .fa-1x {
        font-size: 1em;
      }

      .fa-2x {
        font-size: 2em;
      }

      .fa-3x {
        font-size: 3em;
      }

      .fa-4x {
        font-size: 4em;
      }

      .fa-5x {
        font-size: 5em;
      }

      .fa-6x {
        font-size: 6em;
      }

      .fa-7x {
        font-size: 7em;
      }

      .fa-8x {
        font-size: 8em;
      }

      .fa-9x {
        font-size: 9em;
      }

      .fa-10x {
        font-size: 10em;
      }

      .fa-fw {
        text-align: center;
        width: 1.25em;
      }

      .fa-ul {
        list-style-type: none;
        margin-left: 2.5em;
        padding-left: 0;
      }

      .fa-ul > li {
        position: relative;
      }

      .fa-li {
        left: -2em;
        position: absolute;
        text-align: center;
        width: 2em;
        line-height: inherit;
      }

      .fa-border {
        border: solid 0.08em #eee;
        border-radius: 0.1em;
        padding: 0.2em 0.25em 0.15em;
      }

      .fa-pull-left {
        float: left;
      }

      .fa-pull-right {
        float: right;
      }

      .fa.fa-pull-left,
      .fab.fa-pull-left,
      .fal.fa-pull-left,
      .far.fa-pull-left,
      .fas.fa-pull-left {
        margin-right: 0.3em;
      }

      .fa.fa-pull-right,
      .fab.fa-pull-right,
      .fal.fa-pull-right,
      .far.fa-pull-right,
      .fas.fa-pull-right {
        margin-left: 0.3em;
      }

      .fa-spin {
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
      }

      .fa-pulse {
        -webkit-animation: fa-spin 1s infinite steps(8);
        animation: fa-spin 1s infinite steps(8);
      }

      @-webkit-keyframes fa-spin {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }

        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      @keyframes fa-spin {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }

        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      .fa-rotate-90 {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      .fa-rotate-180 {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .fa-rotate-270 {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
      }

      .fa-flip-horizontal {
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }

      .fa-flip-vertical {
        -webkit-transform: scale(1, -1);
        transform: scale(1, -1);
      }

      .fa-flip-both,
      .fa-flip-horizontal.fa-flip-vertical {
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1);
      }

      :root .fa-flip-both,
      :root .fa-flip-horizontal,
      :root .fa-flip-vertical,
      :root .fa-rotate-180,
      :root .fa-rotate-270,
      :root .fa-rotate-90 {
        -webkit-filter: none;
        filter: none;
      }

      .fa-stack {
        display: inline-block;
        height: 2em;
        position: relative;
        width: 2.5em;
      }

      .fa-stack-1x,
      .fa-stack-2x {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }

      .svg-inline--fa.fa-stack-1x {
        height: 1em;
        width: 1.25em;
      }

      .svg-inline--fa.fa-stack-2x {
        height: 2em;
        width: 2.5em;
      }

      .fa-inverse {
        color: #fff;
      }

      .sr-only {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .sr-only-focusable:active,
      .sr-only-focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
      }

      .svg-inline--fa .fa-primary {
        fill: var(--fa-primary-color, currentColor);
        opacity: 1;
        opacity: var(--fa-primary-opacity, 1);
      }

      .svg-inline--fa .fa-secondary {
        fill: var(--fa-secondary-color, currentColor);
        opacity: 0.4;
        opacity: var(--fa-secondary-opacity, 0.4);
      }

      .svg-inline--fa.fa-swap-opacity .fa-primary {
        opacity: 0.4;
        opacity: var(--fa-secondary-opacity, 0.4);
      }

      .svg-inline--fa.fa-swap-opacity .fa-secondary {
        opacity: 1;
        opacity: var(--fa-primary-opacity, 1);
      }

      .svg-inline--fa mask .fa-primary,
      .svg-inline--fa mask .fa-secondary {
        fill: #000;
      }

      .fad.fa-inverse {
        color: #fff;
      }
    </style>
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link href="../stylesheets/css" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/css(1)" rel="stylesheet" type="text/css" />
    <!-- FontAwesome JS -->
    <script defer="" src="../javascripts/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../stylesheets/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="../stylesheets/helper.css" />
    <link rel="stylesheet" href="../stylesheets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../stylesheets/jquery.fullpage.css" />

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../stylesheets/theme.css" />
  </head>

  <body
    class="homepage fp-viewing-home"
    style="overflow: visible; height: initial"
  >
    <!-- ******NAVBAR****** -->
    <% include navbar %>
    <!--//navbar-->

    <div class="canvas-wrapper" id="canvas-wrapper">
      <!-- ******HEADER****** -->
      <%include header %>
      <!--//header-->

      <div
        id="fullpage"
        class="sections-wrapper fullpage-wrapper"
        style="height: 100%; position: relative"
      >
        <!-- ******Promo Section****** -->
        <section
          id="promo"
          class="promo section gradient-1 fp-section fp-table active fp-completely"
          data-anchor="home"
          style="height: 824px; padding-top: 120px"
        >
          <div class="fp-tableCell" style="height: 674px">
            <div class="container">
              <div class="row">
                <div class="intro-area col-lg-4 col-12">
                  <h2 class="title">Conoce a Handly</h2>
                  <p class="intro">
                    ¡Solicita servicios entre particulares¡ 
                    </br>
                    Descubre lo que tu entorno cercano pueden hacer por ti.
                    </br>
                    ¡Lo que tú quieras cuando quieras¡
                  </b>
                  </p>
                  
                  <!--  <div class="video-container">
                                <img src="../images/video-thumb.jpg" alt="video">
                                <a class="play-trigger" href="#modal-video" data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><span class="icon-holder"><svg class="svg-inline--fa fa-play fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg> comentado <i class="fas fa-play"></i> hasta aqui </span></a>
                            </div>//video-container-->
                </div>
                <!--//intro-area-->
                <div class="clearfix d-none d-sm-block d-md-block"></div>
                <div class="download-area col-lg-4 col-md-6 col-12 order-md-12">
                  <ul class="list-unstyled download-buttons">
                    <li class="google-play">
                      <a href="../descarga"
                        ><img
                          class="img-fluid d-block"
                          src="../images/btn-google-play.png"
                          alt="Download from Google Play"
                      /></a>
                    </li>
                    <li class="app-store">
                      <a 
                        ><img
                          class="img-fluid d-block"
                          src="../images/btn-app-store.png"
                          alt="Download from App Store"
                      /></a>
                    </li>

                    <li class="windows-store">
                      <a 
                        ><img
                          class="img-fluid d-block"
                          src="../images/btn-windows-store.png"
                          alt="Download from Windows Phone Store"
                      /></a>
                    </li>
                  </ul>
                  <!--//list-unstyled-->
                  <ul class="list-unstyled summary">
                    <li>
                      <svg
                        class="svg-inline--fa fa-check fa-w-16"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fa"
                        data-icon="check"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                        ></path></svg
                      ><!-- <i class="fa fa-check"></i> -->
                      <a href="#benefit1">Publica tantos anuncios como quieras</a>
                    </li>
                    <li>
                      <svg
                        class="svg-inline--fa fa-check fa-w-16"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fa"
                        data-icon="check"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                        ></path></svg
                      ><!-- <i class="fa fa-check"></i> -->
                      <a href="#benefit2">Gana dinero ayudando</a>
                    </li>
                    <li>
                      <svg
                        class="svg-inline--fa fa-check fa-w-16"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fa"
                        data-icon="check"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                        ></path></svg
                      ><!-- <i class="fa fa-check"></i> -->
                      <a href="#benefit3">Únete a la comunidad Handly</a>
                    </li>
                    <li>
                      <svg
                        class="svg-inline--fa fa-check fa-w-16"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fa"
                        data-icon="check"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                        ></path></svg
                      ><!-- <i class="fa fa-check"></i> -->
                      <a href="#download">Desarrollada con la mejor tecnología</a>
                    </li>
                  </ul>
                  <!--//list-unstyled-->
                </div>
                <!--//download-area-->

                <% include screenshots %>
              </div>
              <!--//row-->
              <div class="arrow-holder text-center">
                <p class="lead-text"><a href="#benefit1">Descúbrela!</a></p>
                <a
                  href="#benefit1"
                  class="animate pe-7s-bottom-arrow pe-3x"
                ></a>
              </div>
              <!--//arrow-holder-->
            </div>
            <!--//container-->
          </div>
        </section>
        <!--//promo-->

        <!-- ******Benefit-1 Section****** -->
        <section
          id="benefit-1"
          class="benefit-1 section gradient-2 has-pattern fp-section fp-table"
          data-anchor="benefit1"
          style="height: 824px; padding-top: 120px"
        >
          <div class="fp-tableCell" style="height: 674px">
            <div class="section-inner">
              <div class="container text-center">
                <div class="row">
                  <div class="content col-lg-7 col-md-6 col-12">
                    <div class="content-inner">
                      <span class="pe-icon pe-7s-paper-plane pe-4x"></span>
                      <h2 class="title text-center">Publica tantos anuncios como quieras</h2>
                      <p class="intro text-center">
                        El poder de recibir asistencia con un solo gesto. </br>
                        Estás en la calle lloviendo sin parar y ¿necesitas un paraguas? 
                        ¿No tienes tiempo para lavar la ropa? 
                        ¿Necesitas imprimir unos documentos?
                        Nos encontramos ante situaciones día a día que se podrían resolver fácilmente
                        con la ayuda de las personas que nos rodean.
                        ¡Handly te conecta con esas personas!
                      </p>
                    </div>
                    <!--//content-inner-->
                    <div class="testimonial text-center">
                      <div class="quote-container">
                        <span class="icon-holder"
                          ><svg
                            class="svg-inline--fa fa-quote-left fa-w-16"
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="quote-left"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            data-fa-i2svg=""
                          >
                            <path
                              fill="currentColor"
                              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
                            ></path></svg
                          ><!-- <i class="fas fa-quote-left"></i> --></span
                        >
                        <blockquote class="quote">
                          Una startup que llevo siguiendo mucho tiempo. 
                          Es la app perfecta para pedir ayuda o colaboraciones en tu entorno cercano
                          y sacarte de más de un apuro la recomiendo al 100%.
                        </blockquote>
                        <div class="source">
                          <img
                            class="profile"
                            src="../images/profile-1.png"
                            alt=""
                          />
                          <p class="meta">
                            <span class="source-name"
                              ><a href="https://play.google.com/store/apps/details?id=com.app.Handly&showAllReviews=true">Carlos Grande</a></span
                            >
                            <span class="source-title">Madrid, SP</span>
                          </p>
                        </div>
                        <!--//source-->
                      </div>
                      <!--//quote-container-->
                    </div>
                    <!--//testimonial-->
                  </div>
                  <!--//content-->
                  <div class="device device-iphone col-lg-4 col-md-6 col-12">
                    <div
                      class="device-holder iphone-holder iphone-x-holder offset-top"
                    >
                      <div class="device-holder-inner">
                        <img
                          class="img-fluid"
                          src="../images/screenshots/02_pixel4.png"
                          alt=""
                        />
                      </div>
                      <!--//device-holder-inner-->
                    </div>
                    <!--//device-holder-->
                  </div>
                  <!--//phone-holder-->
                </div>
                <!--//row-->
              </div>
              <!--//container-->
            </div>
            <!--//section-inner-->
          </div>
        </section>
        <!--//benefit-1-->

        <!-- ******Benefit-2 Section****** -->
        <section
          id="benefit-2"
          class="benefit-2 section gradient-3 has-pattern fp-section fp-table"
          data-anchor="benefit2"
          style="height: 824px; padding-top: 120px"
        >
          <div class="fp-tableCell" style="height: 674px">
            <div class="section-inner">
              <div class="container text-center">
                <div class="row">
                  <div class="content col-lg-7 col-md-6 col-12 order-md-12">
                    <div class="content-inner">
                      <span class="pe-icon pe-7s-chat pe-4x"></span>
                      <h2 class="title text-center">Gana dinero ayudando</h2>
                      <p class="intro text-center">
                        ¿Tienes un coche y tiempo libre?</br> 
                        ¿Eres buen@ con las tareas del hogar? </br>
                        ¿Se te dan bien las redes sociales? </br>
                        Tan sencillo como abrir la app, acepta los tratos que quieras u ofrece tus servicios y llévate un dinero extra.
                      </p>
                    </div>
                    <!--//content-inner-->
                    <div class="testimonial text-center">
                      <div class="quote-container">
                        <span class="icon-holder"
                          ><svg
                            class="svg-inline--fa fa-quote-left fa-w-16"
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="quote-left"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            data-fa-i2svg=""
                          >
                            <path
                              fill="currentColor"
                              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
                            ></path></svg
                          ><!-- <i class="fas fa-quote-left"></i> --></span
                        >
                        <blockquote class="quote">
                          App que promete mucho para búsqueda de pequeños trabajos del día a día, 
                          para gente con profesion o no, perfecta para que cualquiera pueda sacarse unos dinerillos extra. 
                          Además, con muy buen diseño y funcionalidad.
                        </blockquote>
                        <div class="source">
                          <img
                            class="profile"
                            src="../images/profile-2.png"
                            alt=""
                          />
                          <p class="meta">
                            <span class="source-name"
                              ><a href="https://play.google.com/store/apps/details?id=com.app.Handly&showAllReviews=true">Carlos Jiménez</a></span
                            >
                            <span class="source-title">Logroño, SP</span>
                          </p>
                        </div>
                        <!--//source-->
                      </div>
                      <!--//quote-container-->
                    </div>
                    <!--//testimonial-->
                  </div>
                  <!--//content-->
                  <div
                    class="device device-iphone col-lg-4 col-md-6 col-12 order-md-1"
                  >
                    <div
                      class="device-holder iphone-holder iphone-x-holder offset-top"
                    >
                      <div class="device-holder-inner">
                        <img
                          class="img-fluid"
                          src="../images/screenshots/03_pixel4.png"
                          alt=""
                        />
                      </div>
                      <!--//device-holder-inner-->
                    </div>
                    <!--//device-holder-->
                  </div>
                  <!--//phone-holder-->
                </div>
                <!--//row-->
              </div>
              <!--//container-->
            </div>
            <!--//section-inner-->
          </div>
        </section>
        <!--//benefit-2-->

        <!-- ******Benefit-3 Section****** -->
        <section
          id="benefit-3"
          class="benefit-3 section gradient-4 has-pattern fp-section fp-table"
          data-anchor="benefit3"
          style="height: 824px; padding-top: 120px"
        >
          <div class="fp-tableCell" style="height: 674px">
            <div class="section-inner">
              <div class="container text-center">
                <div class="row">
                  <div class="content col-lg-7 col-md-6 col-12">
                    <div class="content-inner">
                      <span class="pe-icon pe-7s-users pe-4x"></span>
                      <h2 class="title text-center">Únete a la comunidad Handly</h2>
                      <p class="intro text-center">
                        Ey ¿no sabías que hay un carpintero en tu edificio? </br>
                        ¡Conecta y beneficiate de los servicios que te ofrecen tus vecinos!</br>
                        ¡Con nuestro sistema de valoraciones podrás elegir al candidato que más te convenza!
                      </p>
                    </div>
                    <!--//content-inner-->
                    <div class="testimonial text-center">
                      <div class="quote-container">
                        <span class="icon-holder"
                          ><svg
                            class="svg-inline--fa fa-quote-left fa-w-16"
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="quote-left"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            data-fa-i2svg=""
                          >
                            <path
                              fill="currentColor"
                              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
                            ></path></svg
                          ><!-- <i class="fas fa-quote-left"></i> --></span
                        >
                        <blockquote class="quote">
                          He descubierto esta App y me ha parecido muy útil, 
                          con un bonito diseño, una gran idea que nos facilita la vida, recomendada.
                        </blockquote>
                        <div class="source">
                          <img
                            class="profile"
                            src="../images/profile-3.png"
                            alt=""
                          />
                          <p class="meta">
                            <span class="source-name"
                              ><a href="https://play.google.com/store/apps/details?id=com.app.Handly&showAllReviews=true">Fran d</a></span
                            >
                            <span class="source-title">Madrid, SP</span>
                          </p>
                        </div>
                        <!--//source-->
                      </div>
                      <!--//quote-container-->
                    </div>
                    <!--//testimonial-->
                  </div>
                  <!--//content-->
                  <div class="device device-iphone col-lg-4 col-md-6 col-12">
                    <div
                      class="device-holder iphone-holder iphone-x-holder offset-top"
                    >
                      <div class="device-holder-inner">
                        <img
                          class="img-fluid"
                          src="../images/screenshots/05_pixel4.png"
                          alt=""
                        />
                      </div>
                      <!--//device-holder-inner-->
                    </div>
                    <!--//device-holder-->
                  </div>
                  <!--//phone-holder-->
                </div>
                <!--//row-->
              </div>
              <!--//container-->
            </div>
            <!--//section-inner-->
          </div>
        </section>
        <!--//benefit-3-->

        <!-- ******CTA Section****** -->
        <section
          id="cta-section"
          class="cta-section section gradient-5 fp-section fp-table"
          data-anchor="download"
          style="height: 824px; padding-top: 120px"
        >
          <div class="fp-tableCell" style="height: 674px">
            <div class="press text-center">
              <div class="press-inner">
                <div class="container text-center">
                  <h2 class="title">Creada con la mejor tecnología:</h2>
                  <div class="press-list row">
                    <div class="col-sm">
                      <a href="https://developer.android.com/"
                        ><img
                          class="img-fluid d-inline-block"
                          src="../images/logo-1.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="col-sm">
                      <a href="https://nodejs.org/"
                        ><img
                          class="img-fluid d-inline-block"
                          src="../images/logo-2.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="col-sm">
                      <a href="https://expressjs.com/"
                        ><img
                          class="img-fluid d-inline-block"
                          src="../images/logo-3.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="col-sm">
                      <a href="https://www.mongodb.com/"
                        ><img
                          class="img-fluid d-inline-block"
                          src="../images/logo-4.png"
                          alt=""
                      /></a>
                    </div>
                    <!-- <div class="col-lg-2 col-md-4 col-6">
                      <a href="press.html"
                        ><img
                          class="img-fluid d-inline-block"
                          src="../images/logo-5.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6">
                      <a href="press.html"
                        ><img
                          class="img-fluid d-inline-block"
                          src="../images/logo-6.png"
                          alt=""
                      /></a>
                    </div> -->
                  </div>
                  <!--//press-list"-->
                </div>
                <!--//container-->
              </div>
              <!--//press-inner-->
            </div>
            <!--//press-->
            <div class="download text-center">
              <div class="container">
                <h3 class="title">
                  Descárgala ya! <br/>
                </h3>
                <ul class="list-inline download-list">
                    <li class="list-inline-item">
                        <a class="btn btn-cta btn-cta-primary" href="../descarga"
                          ><svg
                            class="svg-inline--fa fa-android fa-w-18"
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fab"
                            data-icon="android"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                            data-fa-i2svg=""
                          >
                            <path
                              fill="currentColor"
                              d="M420.55,301.93a24,24,0,1,1,24-24,24,24,0,0,1-24,24m-265.1,0a24,24,0,1,1,24-24,24,24,0,0,1-24,24m273.7-144.48,47.94-83a10,10,0,1,0-17.27-10h0l-48.54,84.07a301.25,301.25,0,0,0-246.56,0L116.18,64.45a10,10,0,1,0-17.27,10h0l47.94,83C64.53,202.22,8.24,285.55,0,384H576c-8.24-98.45-64.54-181.78-146.85-226.55"
                            ></path></svg
                          ><!-- <i class="fab fa-android"></i> --><span class="text"
                            >Descarga para Android</span
                          ></a
                        >
                      </li>
                  <!-- <li class="list-inline-item">
                    <a class="btn btn-cta btn-cta-primary" href="#Download"
                      ><svg
                        class="svg-inline--fa fa-apple fa-w-12"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="apple"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
                        ></path></svg
                      >coment <i class="fab fa-apple"></i> coment<span class="text"
                        >Descarga para iOS</span
                      >
                    </a>
                  </li> -->
                  
                  <!-- <li class="list-inline-item">
                    <a class="btn btn-cta btn-cta-primary" href="#Download"
                      ><svg
                        class="svg-inline--fa fa-windows fa-w-14"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="windows"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"
                        ></path></svg
                      > coment<i class="fab fa-windows"></i> coment <span class="text"
                        >Descarga para Windows</span
                      ></a
                    >
                  </li> -->
                </ul>
                <figure class="qr-holder">
                  <img src="../images/QR-code.png" alt="" />
                  <figcaption class="caption">
                  Escanea para descargar.
                  </figcaption>
                </figure>
              </div>
              <!--//container-->
            </div>
            <!--//download-->
          </div>
        </section>
        <!--//cta-section-->
      </div>
      <!--//sections-wrapper-->

      <!-- ******FOOTER****** -->
      <% include footer %>
      <!--//footer-->
    </div>
    <!--//canvas-wrapper-->

    <!-- *****Video Modal***** -->

    <!--//modal-->

    <!-- Main Javascript -->
    <script
      type="text/javascript"
      src="../javascripts/jquery-3.4.1.min.js"
    ></script>
    <script type="text/javascript" src="../javascripts/popper.min.js"></script>
    <script
      type="text/javascript"
      src="../javascripts/bootstrap.min.js"
    ></script>
    <script type="text/javascript" src="../javascripts/main.js"></script>

    <!-- Fullpage.js -->
    <script
      type="text/javascript"
      src="../javascripts/jquery.fullpage.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../javascripts/fullpage-custom.js"
    ></script>

    <!-- Owl Carousel -->
    <script
      type="text/javascript"
      src="../javascripts/owl.carousel.min.js"
    ></script>
    <script type="text/javascript" src="../javascripts/owl-custom.js"></script>

    <!-- Modal video -->
    <!--  <script type="text/javascript" src="../javascripts/modal-video.js"></script> -->
  </body>
</html>
