 <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-10 col-12 mr-lg-auto ml-lg-auto">
                                <section class="team-section">
                                    <h3 class="subtitle">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Nuestro equipo</font>
                                        </font>
                                    </h3>
                                    <div class="content row">

                                        <div class="col-sm">
                                            <div class="member-inner">
                                                <div class="profile">
                                                    <a href="https://jp.linkedin.com/in/juan-franco-b8331b202"><img class="img-fluid"
                                                            src="../images/member-1.jpg" alt=""></a>
                                                    <div class="info">
                                                        <h4 class="name">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Juan Franco
                                                                </font>
                                                            </font>
                                                        </h4>
                                                        <h5 class="job-title">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Fundador y CEO
                                                                </br>
                                                                Diseñador UX
                                                                </br>
                                                                Desarrollador de aplicación
                                                                </br>
                                                                Marketing
                                                                </br>
                                                                </font>
                                                            </font>
                                                        </h5>
                                                    </div>
                                                    <a class="mask modal-trigger" href="#modal-member-1"
                                                        data-toggle="modal" data-target="#modal-member-1">
                                                        <span class="mask-inner">
                                                            <li class="list-inline-item"><a href="https://jp.linkedin.com/in/juan-franco-b8331b202"><svg class="svg-inline--fa fa-linkedin-in fa-w-14" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg> <!-- <i class="fab fa-linkedin-in"></i>  --></a></li>                    
                                                            
                                                        </span>
                                                        
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            

                                        </div>
                                        <!--//member-->
                                        <!-- <div class="member col-md-4 col-6">
                                            <div class="member-inner">
                                                <div class="profile">
                                                    <a class="modal-trigger" href="#modal-member-2" data-toggle="modal"
                                                        data-target="#modal-member-2"><img class="img-fluid"
                                                            src="assets/images/team/member-2.jpg" alt=""></a>
                                                    <div class="info">
                                                        <h4 class="name">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Philip Lawson
                                                                </font>
                                                            </font>
                                                        </h4>
                                                        <h5 class="job-title">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Co-Fundador y CTO
                                                                </font>
                                                            </font>
                                                        </h5>
                                                    </div>
                                                    <a class="mask modal-trigger" href="#modal-member-2"
                                                        data-toggle="modal" data-target="#modal-member-2">
                                                        <span class="mask-inner">
                                                            <span class="pe-icon pe-7s-id pe-3x"></span>
                                                            <span class="desc">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Más
                                                                        información</font>
                                                                </font>
                                                            </span>
                                                        </span>
                                                       
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div> -->
                                        <!--//member-->
                                       <!--  <div class="member col-md-4 col-6">
                                            <div class="member-inner">
                                                <div class="profile">
                                                    <a class="modal-trigger" href="#modal-member-3" data-toggle="modal"
                                                        data-target="#modal-member-3"><img class="img-fluid"
                                                            src="assets/images/team/member-3.jpg" alt=""></a>
                                                    <div class="info">
                                                        <h4 class="name">Alan Gutierrez</h4>
                                                        <h5 class="job-title">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Desarrollador de
                                                                    aplicaciones</font>
                                                            </font>
                                                        </h5>
                                                    </div>
                                                    <a class="mask modal-trigger" href="#modal-member-3"
                                                        data-toggle="modal" data-target="#modal-member-3">
                                                        <span class="mask-inner">
                                                            <span class="pe-icon pe-7s-id pe-3x"></span>
                                                            <span class="desc">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Más
                                                                        información</font>
                                                                </font>
                                                            </span>
                                                        </span>
                                                        
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div> -->
                                        <!--//member-->
                                       <!--  <div class="member col-md-4 col-6">
                                            <div class="member-inner">
                                                <div class="profile">
                                                    <a class="modal-trigger" href="#modal-member-4" data-toggle="modal"
                                                        data-target="#modal-member-4"><img class="img-fluid"
                                                            src="assets/images/team/member-4.jpg" alt=""></a>
                                                    <div class="info">
                                                        <h4 class="name">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Kelly Peterson
                                                                </font>
                                                            </font>
                                                        </h4>
                                                        <h5 class="job-title">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Márketing</font>
                                                            </font>
                                                        </h5>
                                                    </div>
                                                    <a class="mask modal-trigger" href="#modal-member-4"
                                                        data-toggle="modal" data-target="#modal-member-4">
                                                        <span class="mask-inner">
                                                            <span class="pe-icon pe-7s-id pe-3x"></span>
                                                            <span class="desc">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Más
                                                                        información</font>
                                                                </font>
                                                            </span>
                                                        </span>
                                                        
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div> -->
                                        <!--//member-->
                                        <!-- <div class="member col-md-4 col-6">
                                            <div class="member-inner">
                                                <div class="profile">
                                                    <a class="modal-trigger" href="#modal-member-5" data-toggle="modal"
                                                        data-target="#modal-member-5"><img class="img-fluid"
                                                            src="assets/images/team/member-5.jpg" alt=""></a>
                                                    <div class="info">
                                                        <h4 class="name">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Jack Bennett
                                                                </font>
                                                            </font>
                                                        </h4>
                                                        <h5 class="job-title">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Gerente de
                                                                    producto</font>
                                                            </font>
                                                        </h5>
                                                    </div>
                                                    <a class="mask modal-trigger" href="#modal-member-5"
                                                        data-toggle="modal" data-target="#modal-member-5">
                                                        <span class="mask-inner">
                                                            <span class="pe-icon pe-7s-id pe-3x"></span>
                                                            <span class="desc">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Más
                                                                        información</font>
                                                                </font>
                                                            </span>
                                                        </span>
                                                        
                                                    </a>
                                                </div>
                                               
                                            </div>
                                            
                                        </div> -->
                                        <!--//member-->
                                       <!--  <div class="member col-md-4 col-6">
                                            <div class="member-inner">
                                                <div class="profile">
                                                    <a class="modal-trigger" href="#modal-member-6" data-toggle="modal"
                                                        data-target="#modal-member-6"><img class="img-fluid"
                                                            src="assets/images/team/member-6.jpg" alt=""></a>
                                                    <div class="info">
                                                        <h4 class="name">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Rachel wu</font>
                                                            </font>
                                                        </h4>
                                                        <h5 class="job-title">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Diseñador UX
                                                                </font>
                                                            </font>
                                                        </h5>
                                                    </div>
                                                    <a class="mask modal-trigger" href="#modal-member-5"
                                                        data-toggle="modal" data-target="#modal-member-6">
                                                        <span class="mask-inner">
                                                            <span class="pe-icon pe-7s-id pe-3x"></span>
                                                            <span class="desc">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Más
                                                                        información</font>
                                                                </font>
                                                            </span>
                                                        </span>
                                                        
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div> -->
                                        <!--//member-->
                                    </div>
                                    <!--//content-->
                                    <!-- <a class="btn btn-cta btn-cta-primary" href="jobs.html">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Unete a nuestro equipo</font>
                                        </font>
                                    </a> -->
                                </section>
                                <!--//team-section-->
                            </div>
                        </div>
                        <!--//row-->
                    </div>